fastapi>=0.115.2
uvicorn[standard]>=0.24.0
python-multipart>=0.0.9
starlette>=0.27.0
sqlalchemy==2.0.23
psycopg2-binary==2.9.9
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
bcrypt==4.1.2
gTTS==2.5.4
pydub==0.25.1
speechrecognition==3.10.0
requests==2.31.0
python-dotenv==1.0.0
mecab-python3==1.0.8
unidic==1.1.0
